h1 {
    text-align: center;

}
h3 {
    text-align: center;
    padding-top: 50px;
}

h2 {
    text-align: center;
    padding-top: 50px;
}

button {
    position: relative;
    height: 200px;
    width: 33%;
    font-size: 300%;
    font-family: unset;
    color: rgb(102, 37, 51);
}